<!DOCTYPE html>
<html>
  <head>
    <title>RailsStreaming</title>
  </head>

  <body>
    <% sleep 0.5 %>
    <%= yield %>
  </body>
  <script src="https://checkout-dev.myshopify.io/assets/app.js"></script>
</html>
